@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300|Tajawal:300');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: responsive;
}

body {
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 200;
}

@media screen and (max-width: 600px) {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    font-weight: 300;
  }
}
